# {{ansible_managed}}

rundir: /run/knot-resolver
workers: auto
cache:
  storage: /var/cache/knot-resolver
logging:
  level: info
network:
  listen:
{%for i in knot_resolver.interfaces%}
    - interface: {{i.ip}}@{{i.port}}
{%endfor%}

{%if knot_resolver.forward%}
forward: {{knot_resolver.forward}}
{%endif%}
