[Unit]
Description=Sonarr
After=syslog.target network.target

[Service]
User=sonarr
Group=sonarr
ExecStart=/opt/sonarr/Sonarr/Sonarr -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
